@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{ width: 1516px; font-family: '함초롬바탕';}

audio{width: 300px; height: 50px;}

header{width: 1516px; height: 40px; font-family: 'nanumgothic'; background-color: black;}

header>ul.tp_bar>li>a{display: inline-block; float: right; margin-right: 20px; margin-top: 8px; width: 80px; height: 25px; font-size: 20px;color: black; font-weight: 600; line-height: 24px; background-color: white; border-radius: 10%}

p.info{text-align: right; margin-right: 20px; margin-top: 235px; color: rgba(255,255,255,0.6)}
ul.tp_bar>li>a:hover{color: white; background-color: crimson; }

section{width: 1516px; height: 666px; overflow-y: scroll; }

footer{padding-top: 4.2px; width: 1516px; height: 40px; color: rgba(255,255,255,0.6); background-color: black;}

div.mid{height: 684px; text-align: center; line-height: 64px; border: 1px solid transparent; background-image: url(./images/IMG_6435_Moment_black_3.jpg); background-repeat: no-repeat; background-position: center; background-size: cover }

div.mid>h1.title{margin-top: 250px; color: white; font-size: 45px; font-weight: 100;}
div.mid>h2.subtit{color: white; font-size: 45px; font-weight: 100;}
span.tit_crimson{color: crimson; font-weight: 600; background-color:rgba(0,0,0,0.7);}

div.sound,div.hobby{margin-left: 10px;text-align: left;}

h2.tit{margin-top: 40px; margin-left: 120px; color: black; font-size: 40px; font-weight: 100;  text-align: left;}

h3.sound_tit{margin-top: 30px; margin-left: 160px; margin-bottom: 50px;color:  crimson; font-size: 37px; font-weight: 100; }

h3.sound_tit+p.desc{font-size: 15px; line-height: 25px; margin-bottom: 30px; margin-left: 180px; margin-right: 180px;}


h3.video_tit{margin-left: 190px; margin-bottom: 12px; color:black; font-size: 17px; font-weight: 100;}

div.video>div{margin-bottom: 35px;}

div.block{width: 300px; height: 300px; float: right; margin-right: 200px; padding-left: 95px; border: 1px solid transparent; border-left-color: gray;}

div.block>h4{ margin-top: 42px; margin-bottom: 10px; font-size: 15px; }

video{margin-left: 190px; width: 600px;}

span.hyper>a{font-weight: 800;}
span.hyper>a:hover{color: crimson;text-decoration: underline; }
span.tool{color: crimson; font-weight: 800;}


div.sam_sketch{margin-left: 190px; margin-top: 0px; padding-top: 40px;}

 div.sam_sketch>h4{display: inline-block;margin-bottom: 30px; padding-top: 170px;padding-left: 10px; padding-right: 80px; width: 280px; height: 180px;   color: black; font-size: 25px; line-height: 29px; font-weight: 100; border: 1px solid transparent; border-right-color: gray; }



span.red{font-size: 23px; color: crimson;}


div.loca{float: right; margin-left: 190px; }

div.audio_1{float: right; margin-right: 195px;  }

div.audio_2{float: right;margin-right: 30px;}

div.audio_1>audio{ margin-bottom: 20px;}
div.audio_2>audio{ margin-bottom: 20px;}

h5.subtit{font-size: 16px; margin-bottom: 8px;}


p.box{margin-left: 460px; margin-top: -400px; width: 780px; height: 200px; }

p.box>span{width: 220px;height:160px;  text-align: center; font-size: 20px; line-height: 180px; font-weight: 700; color: transparent;}

span.frst{display:inline-block;background-image: url(images/market_1.jpg); background-position: center; background-size: contain;background-repeat: no-repeat;}

span.thrd{display:inline-block;background-image: url(images/market_4.jpg); background-position: center; background-size: contain;background-repeat: no-repeat;}
span.four{display:inline-block;background-image: url(images/market_2.jpg); background-position: center; background-size: contain;background-repeat: no-repeat;}

p.box>span:hover{color: white;opacity: 0.7;}





