@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{ width: 1516px; font-family: '함초롬바탕';}

header{width: 1516px; height: 40px; font-family: 'nanumgothic'; background-color: black;}

header>ul.tp_bar>li>a{display: inline-block; float: right; margin-right: 20px; margin-top: 8px; width: 80px; height: 25px; font-size: 20px;color: black; font-weight: 600; line-height: 25px; background-color: white; border-radius: 13%}

ul.tp_bar>li>a:hover{color: white; background-color: crimson; }

section{width: 1516px; height: 666px; overflow-y: scroll; border: 1px solid blue;}

footer{padding-top: 4.2px; width: 1516px; height: 40px; color: rgba(255,255,255,0.6); background-color: black;}

div.mid{height: 684px; text-align: center; line-height: 64px; border: 1px solid green;background-image: url(./images/IMG_6435_Moment_black_3.jpg); background-repeat: no-repeat; background-position: center; background-size: cover }

div.mid>h1.title{margin-top: 250px; color: white; font-size: 45px; font-weight: 100;}
div.mid>h2.subtit{color: white; font-size: 45px; font-weight: 100;}
span.tit_crimson{color: crimson; font-weight: 600; background-color:rgba(0,0,0,0.7);}

div.sound,div.hobby{margin-left: 10px;text-align: left;}

h2.tit{margin-top: 40px; margin-left: 120px; color: black; font-size: 40px; font-weight: 100;  text-align: left;}

h3.sound_tit{margin-top: 30px; margin-left: 160px; margin-bottom: 50px;color:  crimson; font-size: 28px; font-weight: 100; }

div.video>h3.video_tit{ margin-top: 30px; margin-bottom: 7px; margin-left: 190px; font-size: 18px;}

video{position:relative ;margin-left: 190px; width: 600px;}

div.audio{ display: inline-block; position: relative; top: -1380px; left: 900px; }

div.frst_sec{padding-top:55px; padding-bottom: 45px;padding-left: 100px; margin-bottom: 60px; border: 1px solid transparent;border-left-color: grey;}
div.sec_sec{padding-top: 60px; padding-bottom: 50px;padding-left: 100px;  margin-bottom: 55px;border: 1px solid transparent;border-left-color: grey;}
div.thrd_sec{margin-bottom: 55px; padding-bottom: 45px; padding-left: 100px; padding-top: 60px; border:1px solid transparent;border-left-color: grey;}
div.four_sec{margin-bottom: 30px; padding-top: 90px;padding-left: 100px;  padding-bottom: 90px;  border:1px solid transparent; border-left-color: grey;}

h4.sam{margin-bottom: 8px; margin-left: 10px;font-size: 15px;}

div.sec_sec>audio{margin-bottom: 20px;}
div.thrd_sec>audio{margin-bottom: 20px;}
div.four_sec>audio{margin-bottom: 40px;}
div.frst_sec>audio{margin-bottom: 20px;}






