@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{width:1900px;}

header{width: 1900px; height: 30px; border: 1px solid red;}
section{width: 1900px; height: 940px; overflow-y: scroll;}
footer{width: 1900px; height: 30px; border: 1px solid red;}